*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradlew.*
gradle*

.idea/*
app/release/
.idea/modules.xml
*/build/*
.svn/
*/debug/*
TZdoctor/flavors_cs/
/ble
app/src/androidTest/*
app/src/test/*
app/src/main/java/com/casanube/medical/dao/*
app-*
commutil/src/main/java/com/comm/util/dao/*


